body {
  /* Set the default/fallback font */
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* General classes */
.inner {
  /* Set the default margin */
  margin: auto;
  max-width: 74rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

#wrapper {
  /* Page wrapper */
  margin: 20px auto;
  width: 100%;
}


/* Top content: logo, nav */
#top-wrap {
  /* Wrapper for the top content */
  margin: auto auto 10px auto;
}

#top-wrap #logo {
}

#top-wrap #logo img {
  vertical-align: middle;
}

#top-wrap #logo h1 {
  padding: 0 0 0 5px;
  display: inline;
}

#top-wrap nav {
  /* Top navigation menu */
  width: 100%;
  background-color: #BF4D28;
  border-bottom: 5px solid #333;
}

#top-wrap nav ul {
  padding: 15px;
}

#top-wrap nav ul li {
  display: inline;
  margin: auto 5px auto auto;
  color: white;
  font-weight: bold;
}

#top-wrap nav ul li:last-child {
  margin: auto;
}


/* Main content: sections */
#content-wrap {
  /* Wrapper for the main content */
}

#content-wrap section {
  width: 49.5%;
}

#content-wrap section header {
  margin: auto auto 5px auto;
  padding: 10px;
  background-color: #80BCA3;
}

#content-wrap section header h1 {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
}

#content-wrap section p {
  text-align: justify;
  line-height: 1.1rem;
}

footer#bottom {
  width: 100%;
  clear: both;
  margin: 40px auto auto auto;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 5px;
}

footer#bottom p {
  text-align: center;
}
